Repository openware/baseapp, pull requests merged in 2020-08, with the labels that each got.

#206 Feature: add mobile footer
  src/App.tsx
  src/mobile/assets/images/footer/HomeIcon.tsx
  src/mobile/assets/images/footer/OrderIcon.tsx
  src/mobile/assets/images/footer/ProfileIcon.tsx
  src/mobile/assets/images/footer/TradeIcon.tsx
  src/mobile/assets/images/footer/WalletIcon.tsx
  src/mobile/components/Footer/index.tsx
  src/mobile/components/Header/index.tsx
  src/mobile/components/index.ts
  src/mobile/styles/components/Footer.pcss
  src/mobile/styles/components/styles.pcss
  src/mobile/translations/en.ts
Labels: Mobile, Ready

#209 Feature: upgrade root function using hooks
  src/App.tsx
  src/mobile/components/Footer/index.tsx
Labels: Mobile, Ready

#210 Feature: add mobile home page
  src/containers/MarketsTable/index.tsx
  src/mobile/components/style.pcss
  src/mobile/screens/Landing/index.tsx
  src/mobile/screens/index.ts
  src/mobile/styles/components/Modal.pcss
  src/mobile/styles/components/styles.pcss
  src/mobile/styles/screens/Landing.pcss
  src/mobile/styles/screens/styles.pcss
  src/mobile/styles/style.pcss
  src/routes/Layout/Layout.pcss
  src/routes/Layout/index.tsx
Labels: Mobile, Ready

#212 Feature: refactor markets table with hooks
  src/App.tsx
  src/components/TickerTable/index.tsx
  src/containers/MarketsTable/index.tsx
Labels: Mobile, Ready

#213 Feature: Add modal and sign in mobile screen
  src/components/SignIn/SignIn.test.tsx
  src/components/SignIn/index.tsx
  src/mobile/components/Modal/Modal.tsx
  src/mobile/screens/SignInScreen/index.tsx
  src/mobile/screens/index.ts
  src/mobile/styles/components/Modal.pcss
  src/mobile/styles/screens/SignInMobileScreen.pcss
  src/mobile/styles/screens/styles.pcss
  src/mobile/translations/en.ts
  src/routes/Layout/index.tsx
Labels: Mobile, Ready

#215 Feature: Add forgot password
  src/components/EmailForm/EmailForm.test.tsx
  src/components/EmailForm/index.tsx
  src/mobile/screens/ForgotPassword/index.tsx
  src/mobile/screens/index.ts
  src/mobile/styles/screens/ForgotPassword.pcss
  src/mobile/styles/screens/SignInMobileScreen.pcss
  src/mobile/styles/screens/SignUpMobileScreen.pcss
  src/mobile/styles/screens/styles.pcss
  src/routes/Layout/index.tsx
Labels: Mobile, Ready

#217 Feature: Add reset and verification screens
  src/mobile/components/Modal/Modal.tsx
  src/mobile/screens/ChangeForgottenPasswordScreen/index.tsx
  src/mobile/screens/EmailVerificationScreen/index.tsx
  src/mobile/screens/SignInScreen/index.tsx
  src/mobile/screens/index.ts
  src/mobile/styles/screens/ChangeForgottenPasswordMobileScreen.pcss
  src/mobile/styles/screens/EmailVerificationMobileScreen.pcss
  src/mobile/styles/screens/ForgotPassword.pcss
  src/mobile/styles/screens/SignInMobileScreen.pcss
  src/mobile/styles/screens/styles.pcss
  src/mobile/translations/en.ts
  src/routes/Layout/index.tsx
  src/screens/ChangeForgottenPasswordScreen/index.tsx
  src/screens/EmailVerification/index.tsx
Labels: Mobile, Ready

#204 Fix: Incremental update & remove unnecessary sorts
  src/containers/OrderBook/index.tsx
  src/helpers/handleIncrementalUpdate.ts
  src/helpers/sliceArray.ts
Labels: Optimization

#223 Feature: add timestamp to markets
  src/components/TickerTable/index.tsx
  src/containers/MarketsTable/index.tsx
  src/mobile/screens/Trading/index.tsx
  src/mobile/styles/components/TickerTable.pcss
  src/modules/public/markets/reducer.test.ts
  src/modules/public/markets/reducer.ts
  src/modules/public/markets/selectors.ts
Labels: Mobile, Ready

#222 Feature: Add mobile wallets screen
  src/helpers/areEqualSelectedProps.ts
  src/hooks/index.ts
  src/hooks/useCurrenciesFetch.ts
  src/hooks/useMarketsFetch.ts
  src/hooks/useTickersFetch.ts
  src/hooks/useWalletsFetch.ts
  src/mobile/components/WalletItem/index.tsx
  src/mobile/components/WalletsBanner/index.tsx
  src/mobile/components/index.ts
  src/mobile/screens/WalletsScreen/index.tsx
  src/mobile/screens/index.ts
  src/mobile/styles/components/WalletItem.pcss
  src/mobile/styles/components/WalletsBanner.pcss
  src/mobile/styles/components/styles.pcss
  src/modules/public/currencies/reducer.test.ts
  src/modules/public/currencies/reducer.ts
  src/modules/public/currencies/selectors.ts
  src/modules/public/markets/reducer.test.ts
  src/modules/public/markets/reducer.ts
  src/modules/public/markets/selectors.ts
  src/modules/user/wallets/reducer.test.ts
  src/modules/user/wallets/reducer.ts
  src/modules/user/wallets/selectors.ts
  src/routes/Layout/index.tsx
Labels: Mobile, Ready

#224 Feature: add mobile trading tabs
  src/mobile/components/CurrentMarketInfo/index.tsx
  src/mobile/components/TradingTabs/index.tsx
  src/mobile/components/index.ts
  src/mobile/screens/Trading/index.tsx
  src/mobile/styles/components/TradingTabs.pcss
  src/mobile/styles/components/styles.pcss
  src/mobile/translations/en.ts
Labels: Mobile, Ready

#226 Feature: add trading order book
  src/containers/OrderBook/OrderBook.pcss
  src/containers/OrderBook/index.tsx
  src/mobile/components/CreateOrder/index.tsx
  src/mobile/components/TradingTabs/index.tsx
  src/mobile/components/index.ts
  src/mobile/styles/components/CreateOrder.pcss
  src/mobile/styles/components/styles.pcss
Labels: Mobile, Ready

#229 Feature: add depth fetch hook
  src/hooks/index.ts
  src/hooks/useDepthFetch.ts
  src/mobile/screens/Trading/index.tsx
  src/modules/public/orderBook/reducer.test.ts
  src/modules/public/orderBook/reducer.ts
  src/modules/public/orderBook/selectors.ts
  src/modules/public/orderBook/types.ts
Labels: Mobile, Ready

#230 Fix: close modal on outside click
  src/mobile/components/Modal/index.tsx
Labels: Mobile, Ready

#231 Feature: add orders tab
  src/components/TickerTable/TickerTable.pcss
  src/components/TickerTable/index.tsx
  src/hooks/index.ts
  src/hooks/useCurrenciesFetch.ts
  src/hooks/useDepthFetch.ts
  src/hooks/useMarketsFetch.ts
  src/hooks/useRangerConnectFetch.ts
  src/hooks/useTickersFetch.ts
  src/hooks/useUserOrdersHistoryFetch.ts
  src/hooks/useWalletsFetch.ts
  src/mobile/components/Orders/OrdersItem.tsx
  src/mobile/components/Orders/index.tsx
  src/mobile/components/TradingTabs/index.tsx
  src/mobile/components/index.ts
  src/mobile/styles/components/Orders.pcss
  src/mobile/styles/components/styles.pcss
  src/mobile/translations/en.ts
  src/modules/user/ordersHistory/selectors.ts
Labels: Mobile, Ready

#232 Feature: Add deposit mobile screen
  src/components/CopyableTextField/index.tsx
  src/components/index.ts
  src/mobile/components/WalletDepositBody/AddressGenerated.tsx
  src/mobile/components/WalletDepositBody/AddressGenerating.tsx
  src/mobile/components/WalletDepositBody/index.tsx
  src/mobile/components/WalletsButtons/index.tsx
  src/mobile/components/index.ts
  src/mobile/screens/SelectedWalletScreen/index.tsx
  src/mobile/screens/WalletDeposit/index.tsx
  src/mobile/screens/index.ts
  src/mobile/styles/components/WalletDepositBody.pcss
  src/mobile/styles/components/WalletItem.pcss
  src/mobile/styles/components/styles.pcss
  src/mobile/styles/screens/HistoryTable.pcss
  src/mobile/translations/en.ts
  src/routes/Layout/index.tsx
Labels: Mobile, Ready

#234 Feature: add create order redirect buttons
  src/components/Order/index.tsx
  src/containers/Order/index.tsx
  src/mobile/components/Charts/index.tsx
  src/mobile/components/CreateOrder/index.tsx
  src/mobile/components/OrderButtons/index.tsx
  src/mobile/components/TradingTabs/index.tsx
  src/mobile/components/index.ts
  src/mobile/styles/components/OrderButtons.pcss
  src/mobile/styles/components/styles.pcss
  src/mobile/translations/en.ts
Labels: Mobile, Ready

#235 Feature: add recent trades to mobile
  src/mobile/components/Charts/index.tsx
  src/mobile/styles/components/Charts.pcss
  src/mobile/styles/components/CreateOrder.pcss
  src/mobile/styles/components/Orders.pcss
  src/mobile/styles/components/TradingTabs.pcss
  src/mobile/styles/components/styles.pcss
Labels: Mobile, Ready

#238 Feature: add mobile trading chart order book
  src/containers/OrderBook/index.tsx
  src/mobile/components/Charts/index.tsx
  src/mobile/styles/components/Charts.pcss
  src/mobile/styles/components/OrderButtons.pcss
Labels: Mobile, Ready

#236 Feature: Add withdraw screen
  src/components/Beneficiaries/BeneficiariesActivateModal.tsx
  src/components/Beneficiaries/BeneficiariesAddModal.tsx
  src/components/Beneficiaries/BeneficiariesFailAddModal.tsx
  src/components/Beneficiaries/index.tsx
  src/containers/ModalWithdrawConfirmation/index.tsx
  src/containers/ModalWithdrawSubmit/index.tsx
  src/containers/Withdraw/index.tsx
  src/hooks/index.ts
  src/hooks/useBeneficiariesFetch.ts
  src/hooks/usePrevious.ts
  src/hooks/useWalletsAddressFetch.ts
  src/mobile/components/Modal/index.tsx
  src/mobile/components/WalletWithdrawBody/index.tsx
  src/mobile/components/WalletsButtons/index.tsx
  src/mobile/components/index.ts
  src/mobile/screens/WalletWithdraw/index.tsx
  src/mobile/screens/index.ts
  src/mobile/styles/components/WalletWithdrawBody.pcss
  src/mobile/styles/components/styles.pcss
  src/mobile/styles/screens/WalletWithdraw.pcss
  src/mobile/styles/screens/styles.pcss
  src/mobile/translations/en.ts
  src/routes/Layout/index.tsx
Labels: Mobile, Ready

#240 Feature: add profile screen and user info section
  src/mobile/components/Profile/UserInfo/index.tsx
  src/mobile/components/Profile/index.ts
  src/mobile/components/index.ts
  src/mobile/screens/Profile/index.tsx
  src/mobile/screens/index.ts
  src/mobile/styles/components/UserInfo.pcss
  src/mobile/styles/components/styles.pcss
  src/mobile/styles/screens/Profile.pcss
  src/mobile/styles/screens/styles.pcss
  src/mobile/translations/en.ts
  src/routes/Layout/index.tsx
Labels: Mobile, Ready

#220 Fix/kycaid fixes
  src/components/UploadFile/UploadFile.pcss
  src/containers/Confirm/Address/index.tsx
  src/containers/Confirm/Documents/Documents.pcss
  src/containers/Confirm/Documents/index.tsx
  src/containers/Confirm/Identity/index.tsx
  src/containers/Header/Header.pcss
  src/containers/ProfileVerification/ProfileVerification.pcss
  src/containers/ProfileVerification/index.tsx
  src/helpers/index.ts
  src/helpers/randomSecretHex.ts
  src/screens/ConfirmScreen/ConfirmScreen.pcss
  src/screens/ConfirmScreen/index.tsx
  src/styles/buttons.pcss
Labels: 2.5, QA: Approved

#241 Feature: add mobile profile links
  src/components/CopyableTextField/index.tsx
  src/containers/ReferralProgram/index.tsx
  src/helpers/copy.ts
  src/helpers/index.ts
  src/mobile/components/Profile/ProfileLinks/index.tsx
  src/mobile/components/Profile/index.ts
  src/mobile/screens/Profile/index.tsx
  src/mobile/styles/components/ProfileLinks.pcss
  src/mobile/styles/components/UserInfo.pcss
  src/mobile/styles/components/styles.pcss
  src/mobile/translations/en.ts
  src/screens/ProfileTwoFactorAuthScreen/index.tsx
Labels: Mobile, Ready

#243 Feature: Add confirm mobile screen
  src/components/UploadFile/index.tsx
  src/containers/Confirm/Address/index.tsx
  src/containers/Confirm/Documents/index.tsx
  src/mobile/screens/ConfirmScreen/index.tsx
  src/mobile/screens/index.ts
  src/mobile/styles/components/Modal.pcss
  src/mobile/styles/screens/ConfirmMobileScreen.pcss
  src/mobile/styles/screens/SignInMobileScreen.pcss
  src/mobile/styles/screens/SignUpMobileScreen.pcss
  src/mobile/styles/screens/styles.pcss
  src/modules/user/profile/reducer.ts
  src/routes/Layout/index.tsx
Labels: Mobile, Ready

#253 Feature: Add mobile subheader
  src/helpers/getVerificationStep.ts
  src/helpers/index.ts
  src/mobile/components/Subheader/index.tsx
  src/mobile/components/index.ts
  src/mobile/screens/ConfirmScreen/index.tsx
  src/mobile/screens/ProfileColorTheme/index.tsx
  src/mobile/screens/ProfileLanguage/index.tsx
  src/mobile/screens/SelectedWalletScreen/index.tsx
  src/mobile/screens/WalletDeposit/index.tsx
  src/mobile/screens/WalletWithdraw/index.tsx
  src/mobile/screens/WalletsScreen/index.tsx
  src/mobile/styles/components/Subheader.pcss
  src/mobile/styles/components/styles.pcss
  src/mobile/translations/en.ts
  src/screens/ConfirmScreen/index.tsx
Labels: Mobile, Ready

#255 Windows fix
  mocks/api/v2/barong/identity/sessions/POST--email=&password=&otp_code=.mock
  mocks/api/v2/barong/identity/sessions/POST--email=accountant@barong.io&password=123123.mock
  mocks/api/v2/barong/identity/sessions/POST--email=admin@barong.io&password=123123&otp_code=&recaptcha_response=.mock
  mocks/api/v2/barong/identity/sessions/POST--email=compliance@barong.io&password=123123&otp_code=.mock
  mocks/api/v2/barong/identity/sessions/POST--email=otp@peatio.tech&password=123123&otp_code=&recaptcha_response=.mock
  mocks/api/v2/barong/identity/sessions/POST--email=otp@peatio.tech&password=123123&otp_code=123456&recaptcha_response=.mock
  mocks/api/v2/barong/identity/sessions/POST--email=superadmin@barong.io&password=123123&otp_code=.mock
  mocks/api/v2/barong/identity/sessions/POST--email=support@barong.io&password=123123&otp_code=.mock
  mocks/api/v2/barong/identity/sessions/POST--email=technical@peatio.tech&password=123123&otp_code=.mock
  mocks/api/v2/barong/identity/sessions/POST--email=toweradmin@barong.io&password=123123&otp_code=.mock
  mocks/api/v2/barong/identity/sessions/POST--email=user1@peatio.tech&password=123123&otp_code=&recaptcha_response=.mock
  mocks/api/v2/barong/identity/sessions/POST--email=user2@peatio.tech&password=123123&otp_code=&recaptcha_response=.mock
  mocks/api/v2/barong/identity/sessions/POST--email=wrong@peatio.tech&password=123123&otp_code=&recaptcha_response=.mock
  mocks/api/v2/barong/identity/users/email/generate_code/POST--email=wrong@email.com.mock
  mocks/api/v2/barong/resource/api_keys/POST--totp_code=&algorithm=HS256.mock
  mocks/api/v2/barong/resource/api_keys/__/PATCH--totp_code=000000&state=disabled.mock
  mocks/api/v2/barong/resource/otp/enable/POST--code=0000000.mock
  mocks/api/v2/barong/resource/users/password/PUT--old_password=11111111&new_password=11111111&confirm_password=11111111.mock
  mocks/api/v2/peatio/market/orders/POST--market=ethbtc&side=buy&volume=0.5&ord_type=market.mock
  mocks/api/v2/peatio/market/orders/POST--market=ethbtc&side=buy&volume=1.5&ord_type=market.mock
  mocks/api/v2/peatio/market/orders/POST--market=ethbtc&side=sell&volume=2&ord_type=limit&price=20.mock
  mocks/api/v2/peatio/market/orders/POST--market=ethusd&side=buy&volume=0.5&ord_type=market.mock
  mocks/api/v2/peatio/market/orders/POST--market=ethusd&side=buy&volume=1&ord_type=limit&price=10.mock
  mocks/api/v2/peatio/market/orders/POST--market=ethusd&side=sell&volume=1&ord_type=market.mock
  mocks/api/v2/peatio/market/orders/POST--market=ethusd&side=sell&volume=2&ord_type=limit&price=20.mock
  mocks/mockAPI.js
  mocks/mockWS.js
  mocks/mockserver.js
  package.json
  yarn.lock
Labels: Tech: Approved

#251 Feature: Add profile verification & KYC mobile screen
  src/components/Beneficiaries/BeneficiariesFailAddModal.tsx
  src/mobile/components/Profile/ProfileLinks/index.tsx
  src/mobile/screens/Profile/index.tsx
  src/mobile/screens/ProfileAuth/index.tsx
  src/mobile/screens/ProfileVerificationScreen/index.tsx
  src/mobile/screens/index.ts
  src/mobile/styles/components/Subheader.pcss
  src/mobile/styles/screens/ProfileAuthMobileScreen.pcss
  src/mobile/styles/screens/ProfileVerificationMobileScreen.pcss
  src/mobile/styles/screens/styles.pcss
  src/mobile/translations/en.ts
  src/routes/Layout/index.tsx
  src/screens/ProfileTwoFactorAuthScreen/ProfileTwoFactorAuthScreen.pcss
  src/screens/ProfileTwoFactorAuthScreen/index.tsx
  yarn.lock
Labels: Mobile, Ready

#259 Fix: Profile verification colors
  src/containers/ProfileVerification/ProfileVerification.pcss
Labels: Mobile, Ready

#261 Feature: add mobile change password
  src/mobile/components/ChangePassword/index.tsx
  src/mobile/components/index.ts
  src/mobile/screens/ForgotPassword/index.tsx
  src/mobile/screens/ProfileChangePassword/index.tsx
  src/mobile/screens/index.ts
  src/mobile/styles/components/ChangePassword.pcss
  src/mobile/styles/components/styles.pcss
  src/mobile/styles/screens/ProfileChangePassword.pcss
  src/mobile/styles/screens/styles.pcss
  src/mobile/translations/en.ts
  src/routes/Layout/index.tsx
Labels: Mobile, Ready

#269 Fix: add params by default to mobile wallets
  src/mobile/components/WalletBanner/index.tsx
  src/mobile/components/WalletItem/index.tsx
  src/mobile/translations/en.ts
Labels: Mobile, Ready

#270 Fix: update 2fa on disable
  src/containers/ProfileAuthDetails/index.tsx
  src/containers/ProfileTwoFactorAuth/index.tsx
  src/mobile/screens/ProfileAuth/index.tsx
  src/modules/user/profile/sagas/toggle2faSaga.test.ts
  src/modules/user/profile/sagas/toggle2faSaga.ts
  src/screens/ProfileTwoFactorAuthScreen/index.tsx
Labels: Mobile, Ready

#271 Fix: add redirect on close
  src/mobile/screens/ConfirmScreen/index.tsx
Labels: Mobile, Ready

#275 Fix: email verification title aligment
  src/mobile/styles/screens/EmailVerificationMobileScreen.pcss
Labels: Mobile, Ready

#277 Fix: change dispatch of pagination actions
  mocks/api/v2/barong/identity/configs/GET.mock
  mocks/api/v2/peatio/account/deposits/GET--limit=1&currency=btc&page=7.mock
  mocks/api/v2/peatio/account/deposits/GET--limit=6&currency=btc&page=1.mock
  mocks/api/v2/peatio/account/deposits/GET--limit=6&currency=btc&page=2.mock
  src/mobile/components/HistoryTable/index.tsx
Labels: Mobile, Optimization, Ready

#262 BF-306: Migrate tslint => eslint
  .eslintignore
  .eslintrc.js
  .prettierrc.json
  .stylelintrc.json
  package.json
  robots.txt
  scripts/build.sh
  scripts/validate_commit.js
  src/redux/reducer.ts
  src/redux/saga.ts
  src/redux/store.ts
  src/screens/TradingScreen/index.tsx
  tsconfig.json
  tsconfig.prod.json
  tslint.json
  yarn.lock
Labels: Need to fix, Optimization

#272 Feature: add create and delete api key actions
  src/containers/ProfileApiKeys/index.tsx
  src/mobile/assets/images/AddIcon.tsx
  src/mobile/assets/images/WarningIcon.tsx
  src/mobile/components/CreatedApiKeyModal/index.tsx
  src/mobile/components/Profile/ApiKeysItem/index.tsx
  src/mobile/components/index.ts
  src/mobile/screens/EmailVerificationScreen/index.tsx
  src/mobile/screens/ProfileApiKeys/index.tsx
  src/mobile/styles/components/ApiKeysItem.pcss
  src/mobile/styles/components/CreatedApiKeyModal.pcss
  src/mobile/styles/components/styles.pcss
  src/mobile/styles/screens/ProfileApiKeys.pcss
  src/mobile/translations/en.ts
  src/modules/user/apiKeys/actions.ts
Labels: Mobile, Ready

#279 Fix: accoount activity list pagination
  src/containers/ProfileAccountActivity/ProfileAccountActivity.pcss
  src/mobile/screens/ProfileAccountActivity/index.tsx
Labels: Mobile, Ready

#280 Fix: profile verification container not scrollable
  src/mobile/styles/screens/ProfileVerificationMobileScreen.pcss
Labels: Mobile, Ready

#281 Fix: deposit-history pagination visible
  src/mobile/styles/components/TradingTabs.pcss
Labels: Mobile, Ready

#203 Fix: add check for finex before push order to OpenOrders
  src/modules/user/orders/sagas/ordersExecuteSaga.ts
Labels: Need to QA, Ready, Tech: Approved

#285 Fix: add mobile web alerts
  src/App.tsx
  src/containers/Alerts/Alerts.pcss
Labels: Mobile, Ready

#286 Fix: change delete api key button color
  src/mobile/styles/components/ApiKeysItem.pcss
Labels: Mobile, Ready

#289 Fix: change basic color theme to dark
  src/components/MarketDepths/index.tsx
  src/constants/index.ts
  src/containers/NavBar/index.tsx
  src/custom/tradingChartConfig.ts
  src/mobile/screens/ProfileColorTheme/index.tsx
  src/mobile/translations/en.ts
  src/modules/public/globalSettings/reducer.ts
  src/styles/themes/dark.pcss
  src/styles/themes/style.pcss
Labels: Mobile, Ready

#292 Fix: cancel button added for input in CurrenMarketInfo component
  src/assets/images/SearchFieldCloseIcon.tsx
  src/components/FilterInput/index.tsx
  src/mobile/styles/components/CurrentMarketInfo.pcss
Labels: Mobile, Ready

#290 Fix: add wallet banner on withdraw screen
  src/mobile/screens/WalletWithdraw/index.tsx
Labels: Mobile, Ready

#293 Fix: num pad for price/amount fields on Trading page
  src/components/OrderInput/index.tsx
Labels: Mobile, Ready
